* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0 auto;
    padding: 0;  
    min-height: 100vh;
    background-image: url('./background.jpg');
    background-repeat: no-repeat;
    background-size: cover;   
}


ul {
    list-style: none;
}

.list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

li, a {
    text-decoration: none;
    
    color: #FFF;
    font-size: 20px;
    background: #172D21;
  
}

.hw {
    width: 180px;
    padding: 22px 0;
    margin: 30px 28px;
    color: #FFF;
    font-size: 20px;
    background: #172D21;
    box-shadow: 3px 60px 58px -29px rgba(0,0,0,0.73);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: 0.3s;
    transition-property: box-shadow, transform;
}

  li:hover, li:focus, li:active, a:hover, a:focus, a:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
    background: #C46F2C;
  }

.homeworks {
    width: 900px;
    text-align: center;
    margin-left: auto;
    margin-top: 40px;
    color: #FFF;
}
