* {
    box-sizing: border-box;
    margin: 30px;
    padding: 0;
}

ul {
    list-style: none;
}

.list {
    display: flexbox;
}

li, a {
    
    text-decoration: none;
    padding: 30px 20px;
    margin: 50px 20px;
    justify-content: space-evenly;
}

h1 {
    text-align: center;
}
