* {
    box-sizing: border-box;
}

body {
    /* margin: 30px;
    padding: 0;
    max-width: 900px; 
    min-height: 100vh;
}

ul {
    list-style: none;
}

.list {
    display: flex;
    justify-content: space-evenly;
}

li, a {
    text-decoration: none;
    padding: 30px 20px;
    margin: 50px 20px;
}

h1 {
    text-align: center;
}
