* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    padding: 0; 
    width: 900vw; 
    min-height: 100vh;
    background-image: url('./background.jpg');
    background-repeat: no-repeat;
    background-size: cover;   
}


ul {
    list-style: none;
}

.list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

li, a {
    text-decoration: none;
    padding: 25px 10px;
    margin: 30px 25px;
    color: #FFF;
    font-size: 20px;
    background: #172D21 ;
}

.homeworks {
    width: 10000px;
    text-align: center;
    margin-right: auto;
}
