* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0 auto;
    padding: 0;  
    min-height: 100vh;
    background-image: url('./background.jpg');
    background-repeat: no-repeat;
    background-size: cover;   
}


ul {
    list-style: none;
}

.list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

li, a {
    text-decoration: none;
    width: 200px;
    padding: 22px 7px;
    margin: 30px 28px;
    color: #FFF;
    font-size: 20px;
    background: #172D21 ;
}

.homeworks {
    width: 900px;
    text-align: center;
    margin-left: auto;
    margin-top: 20px;
    color: #FFF;
}
