* {
    box-sizing: border-box;
}



ul {
    list-style: none;
}

.list {
    display: flex;
    justify-content: space-evenly;
}

li, a {
    text-decoration: none;
    padding: 30px 20px;
    margin: 50px 20px;
}

h1 {
    text-align: center;
}
